## Ignore Visual Studio temporary files, build results, and
## user-specific files

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/

# VS config folders
.vs/
.vscode/

# MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NCrunch
.ncrunch*
.*crunch*.local.xml

# Rider project files
.idea/

# Resharper
_ReSharper*/
*.DotSettings.user

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet packages
*.nupkg
# The packages folder can be ignored if you enable package restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Others
*.log
*.vspscc
*.vssscc
*.dbmdl
*.bak
*.orig
*.env

# JetBrains Rider
.idea/

# Local history for some IDEs
.localhistory/

# Windows crash reports
*.stackdump

